.App {
  font-family: sans-serif;
  text-align: center;
}

#emojiDescription {
  margin-top: 30px;
}

span {
  margin: 0 8px;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.8rem;
}

span:hover {
  transform: scale(2.5);
}
